@mixin transition {
  transition: all 0.2s ease-in-out;
}

@mixin button {
  border-radius: 50px;
  padding-left: 2em;
  padding-right: 2em;
  &.is-primary {
    background: $primaryColor;
    &:hover {
      background: darken($primaryColor, 5%);
    }
    &:active, &:focus {
      background: darken($primaryColor, 10%);
    }
  }
  &.ghost {
    color: #fff;
    background: transparent;
    &:hover, &:active, &:focus {
      background: #fff;
      color: $primaryColor;
    }
  }
}

@mixin box-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}