$primaryColor: #33658A;
$complementaryColor: lighten(complement($primaryColor), 20%);
$color: #0e1c27;

$font: 'Raleway', sans-serif;
$heading: 'Playfair Display', serif;

$screen-sm: 768px;
$screen-md: 1023px;
$screen-lg: 1407px;
