@import 'mixins';
@import 'variables';

.button {
  @include button;
}

a {
  color: $complementaryColor;
  @include transition;
  &:hover {
    color: lighten($complementaryColor, 10%);
  }
  &:active, &:focus {
    color: darken($complementaryColor, 10%);
  }
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: normal;
}