@import 'mixins';
@import 'variables';

.button {
  @include button;
}

a {
  color: $primaryColor;
  @include transition;
  &:hover {
    color: lighten($primaryColor, 10%);
  }
  &:active, &:focus {
    color: darken($primaryColor, 10%);
  }
}